mixin service-list(data)
  .service-list
    .service-list-item
      .service-list-item__left.icon-dot Разработка Специальных технических условий на проектирование и строительство, в части обеспечения пожарной безопасности.

      .service-list-item__right Документ, содержащий требования на проектирование и строительство объектов, отражает особенности эксплуатации зданий и сооружений.

    .service-list-item.icon-dot
      .service-list-item__left.icon-dot Разработка раздела «Мероприятия по обеспечению пожарной безопасности».

      .service-list-item__right Документ, содержащий требования на проектирование и строительство объектов, отражает особенности эксплуатации зданий и сооружений.

    .service-list-item.icon-dot
      .service-list-item__left.icon-dot Разработка Отчета о проведении предварительного планирования действий по тушению пожара.

      .service-list-item__right Документ, содержащий требования на проектирование и строительство объектов, отражает особенности эксплуатации зданий и сооружений.