extends ./layout.jade

block variables
  - leftSideTitle = 'Услуги'

block content
  .right-side
    +top-baner
    +buro-text._service
    +service-list
    +service-graph
    +other-service
    +feedback
    +footer