mixin service-graph(data)
  .service-graph

    .service-graph__wrapper
      .service-graph-item._small
        .service-graph-item__title Спецификация
        .service-graph-item__caption Первая встреча. Вы описываете свои требования.

      .service-graph-item._small
        .service-graph-item__title Планирование
        .service-graph-item__caption Первая встреча. Вы описываете свои требования.

      .service-graph-item._small
        .service-graph-item__title Решение
        .service-graph-item__caption Первая встреча. Вы описываете свои требования.

      .service-graph-item-last-group
        .service-graph-item._big
          .service-graph-item__title._bottom Разработка
          
          .service-graph-item._inside
            .service-graph-item__title Спецификация
            .service-graph-item__caption._top Первая встреча. Вы описываете свои требования.

          .service-graph-item._inside
            .service-graph-item__title Спецификация
            .service-graph-item__caption._top Первая встреча. Вы описываете свои требования.

        .service-graph-item._small
          .service-graph-item__title Согласование
          .service-graph-item__caption Первая встреча. Вы описываете свои требования.