// font-size
$base-font-size: 16px;

// colors
$white: #fff;
$black: #000;

$orange: #ff5b00;
$blue: #071525;

// breakpoints

$small: '320px';
$medium: '480px';
$large: '800px';
$xlarge: '1024px';
$x-mlarge: '1180px';
$x-large: '1280px';
$x-slarge: '1400px';
$xxlarge: '1700px';