mixin buro-text(data)
  - var modiffer = attributes.class || '';
  .page-text.buro-text(class="#{modiffer}")
    .page-text__category Подход

    
    h1 Системный подход в работе

    blockquote Высоко квалифицированные <br>специалисты с многолетним опытом <br>работы и взаимодействия с<br> руководителями тушения пожаров.

    .page-text__columns
      .page-text__column._left
        p Оправдывая свое название, мы оказываем полный комплекс услуг по разработке и инсталляции в конструктивную схему зданий и строений различной целевой направленности разноплановых систем безопасности.

        p От эффективности охранных систем зависит не только целостность имущества и оборудования, но и жизнь людей. Поэтому здесь недопустимо проявление непрофессионализма, легкомыслие и безответственность. Специалисты нашей компании прошли необходимое обучение и сертификацию и обладают значительным опытом работы.

      .page-text__column._right
        p Наша компания выполняет эти работы в минимально возможные сроки, с неизменно высоким качеством и по приемлемым ценам.