mixin footer(data)
  footer.footer
    .footer__title Контакты

    .footer-contacts
      .footer-contacts__title ООО «Бюро Технологий Безопасности»

      .footer-contacts__column
        .footer-contacts__item Адрес:<br> Москва, ул. Маршала Жукова, 14 А 
          br
          br
          a(href="#" title="") Схема проезда

      .footer-contacts__column
        .footer-contacts__item Телефон:<br> +7 495 555-34-13<br> +7 968 456-77-66

      .footer-contacts__column
        .footer-contacts__item Эл. почта:
          a(href="#" title="") office@saftechburo.com

    .footer__copyright Все права защищены 2016 © Бюро Технологий Безопасности

  .mask