mixin other-service(data)
  .other-service
    .other-service__title Дополнительные услуги

    .other-service__left
      .other-service__item Разработка проекта автоматической пожарной сигнализации;
      .other-service__item Разработка проекта системы оповещения и управления эвакуацией людей при пожаре;
      .other-service__item Расчетная оценка величины пожарного риска;
      .other-service__item Расчет безопасной эвакуации людей при пожаре;
      .other-service__item Расчет категорий помещений, зданий и наружных установок по взрывопожарной и пожарной опасности;
      .other-service__item Разработка планов эвакуации людей при пожаре; 
      .other-service__item Разработка деклараций пожарной безопасности;

    .other-service__right
      .other-service__item Консультирование по вопросам пожарной безопасности;
      .other-service__item Разработка режимных документов по пожарной безопасности (журналы, приказы, инструкции);
      .other-service__item Монтаж автоматической пожарной сигнализации и системы оповещения и управления эвакуацией людей при пожаре.