.folio-item {
  position: relative;

  width: 100%;

  background-color: $blue;
  &:hover {
    .folio-item__title,
    .folio-item__object {
      color: rgba($white, 1);
      span {
        color: $orange;
      }
    }
    .folio-item__image {
      img {
        opacity: .3;
      }
    }
  }
  &__content {
    z-index: 2;
    @media screen and (max-width: 1024px) {
      padding: rem-calc(60);
    }
    @media screen and (max-width: 800px) {
      padding: rem-calc(30);
    }
    @include absolute-center;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: rem-calc(85);
    padding-right: rem-calc(60);
    padding-bottom: rem-calc(90);
    padding-left: rem-calc(60);
  }
  &__title {
    @extend .transparent-link;
    @media screen and (max-width: 1024px) {
      font-size: rem-calc(26);
    }
    @media screen and (max-width: 800px) {
      font-size: rem-calc(20);
    }

    font-size: rem-calc(48);
    span {
      @extend .transparent-link;
      @include transition;
    }
  }
  &__object {
    position: absolute;
    bottom: rem-calc(90);
    @extend .transparent-link;
    @media screen and (max-width: 800px) {
      bottom: rem-calc(30);

      font-size: rem-calc(16);
    }

    font-family: $Gilroy-Medium;
    font-size: rem-calc(18);
    span {
      @extend .transparent-link;
      @include transition;
    }
  }
  &__image {
    img {
      @include transition;

      display: block;

      width: 100%;
      height: auto;

      opacity: .6;
    }
  }
}
