mixin folio-item(data)
  .folio-item
    .folio-item__content
      .folio-item__title Система <span>пожарной<br> безопасности</span> для<br> аэропорта Внуково
      .folio-item__object <span>Объект:</span> Внуково, г. Москва
    .folio-item__image
      img(src="%=static=%images/assets/folio-item/folio.jpg" alt="")