.left-side {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;

  width: 140px;
  height: 100%;

  text-align: center;

  background-color: $blue;
  @media screen and (max-width: 800px) {
    width: 15.625%;
  }
  @media screen and (max-width: 480px) {
    display: flex;

    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding-left: rem-calc(20);

    align-items: center;
    justify-content: flex-start;
  }
  &__logo {
    display: block;

    width: 69%;
    margin: rem-calc(60) auto 0;
    @media screen and (max-width: 800px) {
      width: 60%;
    }
    @media screen and (max-width: 480px) {
      width: 120px;
      margin-top: 0;
      margin-left: rem-calc(30);

      order: 2;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__title {
    display: inline-block;

    margin-top: rem-calc(60);

    transform: rotate(-90deg);
    text-transform: none;

    color: $white;

    font-size: rem-calc(24);
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}

.left-side-down {
  bottom: rem-calc(50);
  @include horizontal-center;

  width: 100%;
  @media screen and (max-width: 480px) {
    display: none;
  }
  &__icon {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    @include transition(.4s);

    margin: auto;

    color: $white;

    font-size: rem-calc(27);
    line-height: 0;
    @media screen and (max-width: 480px) {
      font-size: rem-calc(21);
    }
    &._active {
      transform: rotate(-180deg);
      &:hover {
        opacity: .5;
        + .left-side-down__text {
          visibility: visible;

          opacity: 1;
        }
      }
    }
  }
  &__text {
    bottom: rem-calc(45);
    @include horizontal-center;
    @include transition;

    visibility: hidden;

    text-transform: uppercase;

    opacity: 0;
    color: rgba($white, .5);

    font-size: rem-calc(12);
    @media screen and (max-width: 480px) {
      font-size: rem-calc(10);
    }
  }
}
