mixin folio-project(data)
  .folio-main.folio-project
    .folio-main__row
      .folio-main__column 
        +folio-item
      .folio-main__column
        +folio-item
    .folio-main__row
      .folio-main__column 
        +folio-item
      .folio-main__column 
        +folio-item

    .folio-main__row
      .folio-main__column._triple
        +folio-text
      .folio-main__column._triple
        +folio-text
      .folio-main__column._triple
        +folio-text

    .folio-main__row
      .folio-main__column._triple
        +folio-text
      .folio-main__column._triple
        +folio-text
      .folio-main__column._triple
        +folio-text

    .folio-main__row
      .folio-main__column._triple
        +folio-text
      .folio-main__column._triple
        +folio-text
      .folio-main__column._triple
        +folio-text

    .folio-main__row
      .folio-main__column._triple
        +folio-text
      .folio-main__column._triple
        +folio-text
      .folio-main__column._triple
        +folio-text