mixin folio-text(data)
  .folio-text
    .folio-text__title <span>Проектирование</span> <br>комплексной системы <br>безопасти
    .folio-text__caption Объект: Административно-техническое располагаемое территории здание на завода по грузовых автомобилей «Вольво», г. Калуга