.folio-title {
  position: relative;
  @media screen and (max-width: 800px) {
    padding: rem-calc(30);
  }

  padding-left: rem-calc(60);

  background-color: $white;
  &__category {
    @media screen and (max-width: 1024px) {
      margin-bottom: rem-calc(20);

      font-size: rem-calc(18);
    }

    margin-bottom: rem-calc(35);

    color: $orange;

    font-family: $Gilroy-Semibold;
    font-size: rem-calc(24);
  }
  &__header {
    @media screen and (max-width: 1024px) {
      margin-bottom: rem-calc(50);

      font-size: rem-calc(26);
    }
    @media screen and (max-width: 800px) {
      font-size: rem-calc(24);
    }

    margin-bottom: rem-calc(60);

    color: $blue;

    font-size: rem-calc(48);
  }
  &__link {
    @extend .orange-dashed-block;
    @media screen and (max-width: 800px) {
      font-size: rem-calc(18);
    }
  }
}
