mixin services(data)
  .services.js-tabs
    .services-full.js-tabs-full
      .services-full-item.js-tabs-full-item._active
        .services-full-item__content
          .services-full-item__category Услуги

          .services-full-item__title Проектирование документации

          .services-full-item__caption Все мероприятия по проектированию, разработке, внедрению, техническому обслуживанию систем безопасности осуществляются высоко квалифицированными специалистами, имеющими богатый опыт работы с оборудованием от ведущих мировых производителей.

          a(href="#" title="").services-full-item__link Перейти в раздел

      .services-full-item.js-tabs-full-item
        .services-full-item__content
          .services-full-item__category Услуги

          .services-full-item__title Охранные системы

          .services-full-item__caption Все мероприятия по проектированию, разработке, внедрению, техническому обслуживанию систем безопасности осуществляются высоко квалифицированными специалистами, имеющими богатый опыт работы с оборудованием от ведущих мировых производителей.

          a(href="#" title="").services-full-item__link Перейти в раздел

      .services-full-item.js-tabs-full-item
        .services-full-item__content
          .services-full-item__category Услуги

          .services-full-item__title Специализированная пожарная охрана

          .services-full-item__caption Все мероприятия по проектированию, разработке, внедрению, техническому обслуживанию систем безопасности осуществляются высоко квалифицированными специалистами, имеющими богатый опыт работы с оборудованием от ведущих мировых производителей.

          a(href="#" title="").services-full-item__link Перейти в раздел

    .services-control.js-tabs-control
      .services-control-item.js-tabs-control-item._active
        i.icon.icon-shield.services-control-item__icon
        .services-control-item__title Проектирование <br>документации

      .services-control-item.js-tabs-control-item
        i.icon.icon-camera.services-control-item__icon
        .services-control-item__title Охранные <br>системы

      .services-control-item.js-tabs-control-item
        i.icon.icon-signalization.services-control-item__icon
        .services-control-item__title Специализированная <br>пожарная охрана