.top-baner {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 100vh;

  background-color: $blue;
  @media screen and (max-width: 736px) {
    min-height: 120vh;
    margin-top: 80px;
  }
  @media screen and (max-width: 480px) {
    height: auto;
    min-height: 100vh;
    margin-top: 80px;
  }
  &__image {
    @include absolute-center;

    width: 100%;
    height: 100vh;

    opacity: .4;
    background: url(%=static=%content/baner.jpg) no-repeat center;
    background-size: cover;
    @media screen and (max-width: 736px) {
      height: 100%;
    }
  }
  &__content {
    position: absolute;
    z-index: 2;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: rem-calc(60);
    padding-right: rem-calc(60);
    padding-bottom: rem-calc(34);
    padding-left: rem-calc(65);

    background-color: rgba($blue, .5);
    @media screen and (max-width: 480px) {
      padding-top: rem-calc(58);
      padding-right: rem-calc(30);
      padding-bottom: rem-calc(30);
      padding-left: rem-calc(30);
    }
    @media screen and (max-width: 320px) {
      padding-top: rem-calc(55);
      padding-right: rem-calc(20);
      padding-left: rem-calc(20);
    }
  }
  &__title {
    text-align: right;
    text-transform: uppercase;

    color: $white;

    font-family: $Gilroy-Semibold;
    font-size: rem-calc(24);
    @media screen and (max-width: 800px) {
      text-align: left;
    }
    @media screen and (max-width: 736px) {
      display: none;
    }
    span {
      color: $orange;
    }
    &._mobile {
      display: none;
      @media screen and (max-width: 736px) {
        display: block;

        margin-left: rem-calc(30);

        font-size: rem-calc(12);

        order: 3;
      }
    }
  }
  &__bottom {
    bottom: rem-calc(34);
    @include horizontal-center;

    display: flex;

    box-sizing: border-box;
    width: 100%;
    padding-right: rem-calc(60);
    padding-left: rem-calc(65);

    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
      bottom: inherit;
      @include absolute-center;

      padding-right: rem-calc(30);
      padding-left: rem-calc(30);
    }
    @media screen and (max-width: 320px) {
      padding-right: rem-calc(20);
      padding-left: rem-calc(20);
    }
  }
  &__header {
    width: 100%;
    margin-bottom: rem-calc(55);

    color: $white;

    font-size: rem-calc(70);
    @media screen and (max-width: 1024px) {
      font-size: rem-calc(55);
    }
    @media screen and (max-width: 736px) {
      font-size: rem-calc(30);
      line-height: rem-calc(46);
    }
    @media screen and (max-width: 320px) {
      margin-top: rem-calc(57);
      margin-bottom: rem-calc(40);

      font-size: rem-calc(25);
      line-height: rem-calc(35);
    }
    span {
      color: $orange;
    }
  }
  &__link {
    @extend .transparent-link;

    font-size: rem-calc(24);
    @media screen and (max-width: 480px) {
      margin-bottom: rem-calc(40);

      font-size: rem-calc(18);
    }
  }
  &__phone {
    @extend .white-dashed-block;
  }
}
