.top-baner {
  position: relative;
  @include breakpoint($xlarge) {
    overflow: hidden;

    width: 100%;
    height: 100vh;
  }

  background-color: $blue;
  @media screen and (min-width: 1440px) and (max-width: 1920px) {
    overflow: hidden;

    height: 100vh;
  }
  &__image {
    @include breakpoint($xlarge) {
      @include absolute-center;

      width: 100%;
      height: 100vh;
    }
    img {
      @include breakpoint($xlarge) {
        @include absolute-center;

        width: auto;
        height: 100vh;
      }

      width: 100%;
      height: auto;

      opacity: .4;
    }
  }
  &__content {
    position: absolute;
    z-index: 2;
    @include breakpoint($medium) {
      padding-top: rem-calc(58);
      padding-right: rem-calc(30);
      padding-bottom: rem-calc(30);
      padding-left: rem-calc(30);
    }
    @include breakpoint($small) {
      padding-top: rem-calc(55);
      padding-right: rem-calc(20);
      padding-left: rem-calc(20);
    }

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: rem-calc(60);
    padding-right: rem-calc(60);
    padding-bottom: rem-calc(34);
    padding-left: rem-calc(65);

    background-color: rgba($blue, .5);
  }
  &__title {
    @include breakpoint($large) {
      text-align: left;
    }
    @include breakpoint($medium) {
      font-size: rem-calc(16);
    }
    @include breakpoint($small) {
      font-size: rem-calc(13);
    }

    text-align: right;

    color: $white;

    font-family: $Gilroy-Medium;
    font-size: rem-calc(28);
    span {
      color: $orange;
    }
  }
  &__bottom {
    bottom: rem-calc(34);
    @include horizontal-center;
    @include breakpoint($medium) {
      bottom: inherit;
      @include absolute-center;

      padding-right: rem-calc(30);
      padding-left: rem-calc(30);
    }
    @include breakpoint($small) {
      padding-right: rem-calc(20);
      padding-left: rem-calc(20);
    }

    display: flex;

    box-sizing: border-box;
    width: 100%;
    padding-right: rem-calc(60);
    padding-left: rem-calc(65);

    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__header {
    @include breakpoint($xlarge) {
      font-size: rem-calc(55);
    }
    @include breakpoint($medium) {
      font-size: rem-calc(30);
      line-height: rem-calc(46);
    }
    @include breakpoint($small) {
      margin-top: rem-calc(57);
      margin-bottom: rem-calc(60);

      font-size: rem-calc(25);
      line-height: rem-calc(35);
    }

    width: 100%;
    margin-bottom: rem-calc(55);

    color: $white;

    font-size: rem-calc(70);
    span {
      color: $orange;
    }
  }
  &__link {
    @extend .transparent-link;
    @include breakpoint($medium) {
      margin-bottom: rem-calc(60);

      font-size: rem-calc(18);
    }

    font-size: rem-calc(24);
  }
  &__phone {
    @extend .white-dashed-block;
  }
}
