mixin top-baner(data)
  .top-baner
    .top-baner__content
      .top-baner__title Бюро <span>Технологий</span> Безопасности

      .top-baner__bottom
        .top-baner__header Проектирование, <span>разработка</span> <br>и внедрение комплексной <br>защиты объектов
        a(href="#" title="").top-baner__link Узнать об услугах
        a(href="#" title="").top-baner__phone +7 495 343-44-55
    .top-baner__image