mixin big-baner(data)
  .big-baner
    .big-baner__content
      .big-baner__bottom
        .big-baner__category О бюро

        .big-baner__title Наши специалисты работают <br>напрямую с руководителями тушения<br> пожаров, и поэтому мы точно решаем<br> поставленную задачу.

        a(href="#" title="").big-baner__link Узнать больше

    .big-baner__image
      img(src="%=static=%images/content/baner.jpg" alt="")