mixin partners(data)
  .partners
    .partners__title Партнеры

    .partners-block
      i.icon.icon-shield.partners-block__icon
      .partners-block__title Проектирование <br>документации
    
    .partners-block
      i.icon.icon-camera.partners-block__icon
      .partners-block__title Охранные <br>системы
    
    .partners-block
      i.icon.icon-signalization.partners-block__icon
      .partners-block__title Специализированная <br>пожарная охрана

    .partners-block
      i.icon.icon-shield.partners-block__icon
      .partners-block__title Проектирование <br>документации
    
    .partners-block
      i.icon.icon-camera.partners-block__icon
      .partners-block__title Охранные <br>системы
    
    .partners-block
      i.icon.icon-signalization.partners-block__icon
      .partners-block__title Специализированная <br>пожарная охрана