.folio-main {
  &__row {
    display: flex;

    width: 100%;

    align-items: center;
    @media screen and (max-width: 480px) {
      flex-wrap: wrap;
    }
    justify-content: space-between;
  }
  &__column {
    width: 50%;
    height: auto;

    @media screen and (max-width: 480px) {
      width: 100%;
    }
    &._triple {
      width: 33.333333%;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }
}
