mixin folio-main(data)
  .folio-main
    .folio-main__row
      .folio-main__column 
        +folio-title
      .folio-main__column
        +folio-item
    .folio-main__row
      .folio-main__column 
        +folio-item
      .folio-main__column 
        +folio-item